
.custom-nav{
    background-color: #253965;
}
.custom-nav a{
    color:white;
}
.custom-nav .active{
    background-color: white;
}
.custom-nav .active a,
.custom-nav .dual-collapse2 .dropdown-item 
{
    color:#253965 ;
}
#navbarSupportedContent{
    margin-left: 10%;
}
.dual-collapse2{
    margin-right: 10%;
}
body>header h1 a {
    overflow: hidden;
    color: #253965;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 650;
}
body>header h1 a:hover {
    text-decoration: none;
    color: #253965;
  }
.logo{
    width: 45px;
    height: 45px;;
}
body>header .muni .current:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 12px;
    background: url(./mappin.jpg) no-repeat 50% 50%;
}
.container .inline-header,
.dropdown,
.custom-inline-div{
    display:inline-block;
}
.custom-inline-div{
    float:right;
}
.dropdown .custom-button,
.dropdown .custom-button:hover,
.dropdown .custom-button:active{
    background-color: transparent;
    color: #253965;
    border: none;
    padding-top: 0;
    border-bottom: 1px solid #253965;
    border-radius: 0;
}
.dropdown .btn:focus {
    outline: 0;
    box-shadow: none;
}
.dropdown .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.current,
.mappin{
    font-weight: bold;
    color: #253965;
}
.mappin{
    width: 25px;
}
.help {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  #myPopup {
    width: 260px;
    background-color: #253965;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    margin-left: 150px;
    margin-top: 10px;
  }
  .popuptext {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  .popuptext{
      display: none;
  }
  .custom-nav-two #navbarSupportedContent a{
      color: #253965;
      font-size: 1.2em;
      padding-right: 15px;
  }
  #navbarSupportedContent{
      margin-left: 0;
  }
  .custom-nav-two .moja-uprava #navbarDropdown{
    color: #253965;
    font-size: 1.2em; 
  }
.custom-container-one {
    width: 60vw;
    margin: auto;
}
  .to-center{
      text-align: center;
  }
  .to-center-sr-header{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(30, 30, 66);
  }
  .page-content contact{
      text-align: center;
      margin: 0;
  }
  .custom-subtitle{
      font-size: 1.1rem !important;
      color:grey;
  }
  .main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 7%;
}
.custom-container {
    height: 440px;
    width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.info-container {
    background-color: white;
    width: 85%;
    height: 55%;
    display: grid;
    row-gap: 5px;
    padding: 10px 5px 10px 10px;
}
.label-info {
    margin-right: 5px;
    font-size: 1.2rem;
}
.span-info {
    font-size: 1.2rem;
    font-weight: 700;
}
.centered-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.pc {
    width: 48%;
}
.gen-form .form-row {
    position: relative;
    margin-bottom: 30px;
    padding-right: 22px;
}
.lic-list {
    margin: 0px !important;
    max-width: 650px;
}
.lic-list>li:last-child {
    border-bottom: 0;
}
.lic-list li {
    flex-wrap: wrap;
}
.lic-list>li {
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    display: flex;
}
.lic-list>li>ul.accordion {
    width: 100%;
}
li {
    list-style: none;
}
.accordion>li .head {
    cursor: pointer;
    display: block;
    position: relative;
    box-sizing: border-box;
    line-height: 27px;
    padding: 15px 80px 15px 36px;
    font-size: 1.28rem;
    color: #253965;
    background: #f8f8f8;
    margin: 3px 0;
    width: 550px;
}
a {
    color: inherit;
    text-decoration: none;
}
.accordion>li #content {
    display: none;
    color: #333;
    font-size: 1.14rem;
    line-height: 24px;
    padding: 40px 35px;
}
.accordion>li .head span {
    content: "";
    position: absolute;
    background: #253965;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    right: 24px;
    border-radius: 10px;
}
.lic-list>li span {
    color: #000;
    font-weight: 700;
}
.accordion>li .head span:before {
    transform: rotate(-90deg);
}
.lic-list>li>ul.accordion>li>#content {
    padding: 10px;
}
.gen-form .form-row label {
    margin-bottom: 4px;
    color: #253965;
    display: block;
}
.accordion>li.open>.head span:after, .accordion>li.open>.head span:before {
    background: #253965;
    transform: rotate(0deg);
}
.accordion>li.open>.head span:after, .accordion>li.open>.head span:before {
    background: #253965;
    -webkit-transform: rotate(
0deg);
    transform: rotate(
0deg);
}
.accordion>li .head span:after, .accordion>li .head span:before {
    position: absolute;
    width: 12px;
    height: 2px;
    content: "";
    left: calc(50% - 6px);
    top: calc(50% - 1px);
    transform-origin: 50% 50%;
}
#content{
    display: none;
}
.gen-form .form-row label {
    margin-bottom: 4px;
    color: #253965;
    display: block;
}
.accordion>li #content span {
    text-transform: uppercase;
    color: #253965;
}
#second-content{
    display: none;
}
#documentValidityId {
    color: green;
    font-weight: bold;
    font-size: large;
}
.gen-form .form-row {
    position: relative;
    margin-bottom: 30px;
    padding-right: 22px;
}
#closeCovidPassportResponse {
    width: 200px;
}
.activity-details .lgbtn.lg2>span:first-child, .gen-form .form-row .button>span:first-child, .gen-form .form-row button>span:first-child, .my-egov-page .user-info .btn:last-child>span:first-child, .notifications-form button>span:first-child, .side-institution a.button>span:first-child {
    z-index: 1;
    position: relative;
}
.gen-form .form-row .button, .gen-form .form-row button {
    width: 100%;
    color: #fff;
    background: #253965;
    font-size: 1.28rem;
    font-weight: 700;
    cursor: pointer;
    border: 0;
    height: 50px;
    transition: .3s;
}
.foot-top {
    position: sticky;
    background: #253965;
    height: 40px;
    color: #4a90e2;
}
.foot-top a {
    margin-left: auto;
    height: 35px;
    border-top: 5px solid #4a90e2;
    line-height: 30px;
    padding: 0 20px 0 10px;
    position: relative;
    overflow: hidden;
    font-weight: 700;
}
footer {
    color: #a0a0a0;
}
footer .container {
    display: -webkit-box;
    display: flex;
}
.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}
footer .foot-content {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 0;
}
footer .site-title {
    padding: 37px 0 20px 70px;
    background: url(./grb.jpg) no-repeat 0 50%/50px auto;
}
footer .site-title h3 {
    color: #253965;
    font-size: 2rem;
    font-weight: 700;
}
footer .site-title p {
    color: #4f4f4f;
}
footer .copy {
    font-size: .85rem;
    padding: 0 0 10px 70px;
    margin-right: 110px;
}
footer .copy a {
    color: #253965;
}
footer .nav {
    font-size: .85rem;
    padding: 0 0 30px 70px;
    display: -webkit-box;
    display: flex;
}
footer .nav li {
    margin-right: 6px;
    padding-right: 6px;
    border-right: 1px solid #a0a0a0;
}
footer .nav li.emph, footer .nav li.emph a:hover {
    color: #253965;
}
footer .foot-social {
    width: 260px;
    padding-top: 34px;
    flex-shrink: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.bottom-popup {
    display: none;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    box-shadow: 0 0 0 1px #d9d9d9;
    text-align: justify;
}
.bottom-popup .bottom-popup-content {
    max-width: 650px;
    margin: auto;
    padding: 2em;
}
.fab,
.far{
    color: #253965;
    font-size: 20px;
    border: 2px solid #253965;
    border-radius: 24px;
    padding: 13px;
}
